<template name="new">


    <div class="new">
    <form id="newForm">
    <select multiple="true" size="2" name="public" id="form-public">
        <option selected value="1">Publikus
        <option value="0">Privát
    </select><br>
    &nbsp;<br>
    <input type="text" name="title" id="form-title" placeholder="címe" required="required" />
    <input type="text" name="when" id="form-when" placeholder="mikor" required="required" />
    <input type="text" name="where" id="form-where" placeholder="hol" required="required" onkeyup="/*codeAddress(1, true)*/" />
    <div id="mapdiv" style="width: 100%; height: 400px"></div>
    <div id="formMapmsg">Húzd és dobd a piros tüskét a helyszínhez.</div>
    &nbsp;<br>
    <textarea name="info" id="form-info" placeholder="info" required="required">
    </textarea>

    <button type="button" name="friends" id="friends" data-active="active..." data-loading="loading..." data-complete="completed..." class="btn btn-primary">Get Facebook Friends</button>

<div class="ac" style="display: none">
    <div class="ui-widget">


        <input type="text" name="findfriends" id="project" placeholder="Kereess FB barátokat!">
        <input type="hidden" id="project-id" />
        <ul class="selectedFriends">

        </ul>
    </div>


</div>

    <input type="text" name="labels" id="form-labels" placeholder="címkék">
    &nbsp;<br>
        <select  id="form-tags">
            <option value="bringa">Bringa</option>
            <option value="túra">Túra</option>
            <option value="futás">Futás</option>
        </select>
    <textarea name="invited" id="form-invited" placeholder="meghívottak">
    </textarea>
    &nbsp;<br>
    <button type="submit" name="submit" id="submit" class="btn btn-primary btn-large">Mehet</button>
    <button type="button" name="cancel" id="cancel" class="btn btn-large">mégse</button>
    <input type="hidden" id="form-latLng" name="form-latLng">
    </form>
    </div>

    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

</template>


